/*!
 * front-page.less
 * Put here the style for the homepage
 * 
 * Compiled on Wed, 23 Jan 2013 14:13:30 GMT
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * reset.less
 * Adapted from http://github.com/necolas/normalize.css
 * 
 * Compiled on :compileTime:
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html,
body {
  font-size: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*!
 * fbqs.less
 * Put here the style for the Quick Search Booking Form
 * 
 * Compiled on :compileTime:
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * standard-style.less
 * Store here some css classes you use almost on every page
 * 
 * Compiled on :compileTime:
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  background: #ffffff;
  color: #333333;
  font-size: 11px;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  color: #0088cc;
}
a:hover {
  color: #005580;
}
p {
  margin-bottom: 1em;
}
strong,
b {
  font-weight: bold;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
.heading * {
  *display: inline;
  display: inline-block;
  font-size: 11px;
}
.heading h1 {
  font-weight: bold;
}
