/*!
 * linear-menu.less
 * Put here the style for a linear menu
 * 
 * Compiled on Wed, 16 Jan 2013 15:22:28 GMT
 * 
 */
.linear-menu ul,
ul.linear-menu {
  width: 100%;
  min-heigth: 2em;
  list-style: none;
}
.linear-menu ul li,
ul.linear-menu li {
  float: left;
}
.linear-menu ul li a,
ul.linear-menu li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  background-color: #dddddd;
}
.linear-menu ul li a:hover,
ul.linear-menu li a:hover {
  background-color: #aaaaaa;
}
