/*!
 * linear-menu.less
 * Put here the style for a linear menu
 * 
 * Compiled on Tue, 16 Apr 2013 07:31:11 GMT
 * 
 */
.linear-menu-container {
  background-color: #eeeeee;
  min-heigth: 2em;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.linear-menu-container .linear-menu {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.linear-menu-container .linear-menu li {
  float: left;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #b3b3b3;
}
.linear-menu-container .linear-menu li:first-child {
  border-left: none;
}
.linear-menu-container .linear-menu li:last-child {
  border-right: none;
}
.linear-menu-container .linear-menu li a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  color: #333333;
}
.linear-menu-container .linear-menu li a:hover {
  color: #000000;
  background-color: #bbbbbb;
}
