/*!
 * location.less
 * Put here the style for the location page (google maps)
 * 
 * Compiled on Wed, 23 Jan 2013 14:13:30 GMT
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
.minigallery {
  color: #333333;
}
.minigallery .big-image-container {
  background-color: #cccccc;
  padding: 0;
  width: 584px;
  height: 294px;
  overflow: hidden;
  position: relative;
  z-index: 1200;
}
.minigallery .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-indent: 10px;
  color: #ffffff;
  background-color: rgba(125, 125, 125, 0.5);
  background-image: -moz-linear-gradient(left, rgba(125, 125, 125, 0.5), rgba(125, 125, 125, 0.5));
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(125, 125, 125, 0.5)), to(rgba(125, 125, 125, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(125, 125, 125, 0.5), rgba(125, 125, 125, 0.5));
  background-image: -o-linear-gradient(left, rgba(125, 125, 125, 0.5), rgba(125, 125, 125, 0.5));
  background-image: linear-gradient(to right, rgba(125, 125, 125, 0.5), rgba(125, 125, 125, 0.5));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#807d7d7d', endColorstr='#807d7d7d', GradientType=1);
  z-index: 1300;
}
.minigallery .big-image {
  position: relative;
  z-index: 10;
  border: 2px solid #cccccc;
}
.minigallery .big-image img {
  margin: 0;
  padding: 0;
}
.minigallery .loading {
  width: 580px;
  height: 290px;
  line-height: 290px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  color: #333333;
}
.minigallery .thumbs {
  width: 100%;
  height: 84px;
}
.minigallery .next,
.minigallery .prev {
  background-color: #cccccc;
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 100%;
  line-height: 84px;
  text-align: center;
  margin-top: 10px;
}
.minigallery .next:hover,
.minigallery .prev:hover {
  background-color: #999999;
}
.minigallery .next {
  float: right;
}
.minigallery .next {
  float: left;
}
.minigallery .thumbs-list {
  display: inline-block;
  width: 530px;
  height: 84px;
  overflow: hidden;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.minigallery .thumb-set {
  width: 100%;
  height: 100%;
}
.minigallery .thumb-link {
  display: inline-block;
  border: 2px solid #cccccc;
  width: 120px;
  height: 80px;
  overflow: hidden;
  margin-right: 5px;
}
.minigallery .thumb-link.current,
.minigallery .thumbs a:hover {
  border: 2px solid #ffffff;
  opacity: 0.7;
}
