/*!
 * slideshow.less
 * Put here the style for the slideshow
 * 
 * Compiled on Tue, 23 Apr 2013 13:57:21 GMT
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
.slideshow-container {
  position: relative;
  width: 940px;
  height: 400px;
}
.slideshow-container #slideshow {
  width: 940px;
  height: 400px;
}
.slideshow-container #slideshow.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1100;
}
.slideshow-container .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 33px;
  padding: 0;
  list-style: none;
  z-index: 1130;
  /*& .prev, & .next{
			.size(@controls_height, @controls_width);
			background: red;
		}*/

}
.slideshow-container .controls .play,
.slideshow-container .controls .pause,
.slideshow-container .controls .prev,
.slideshow-container .controls .next,
.slideshow-container .controls .play-pause {
  background-image: url('../images/media-controls.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: transparent;
  width: 33px;
  height: 33px;
  float: left;
  cursor: pointer;
}
.slideshow-container .controls .play {
  background-position: 0 0;
}
.slideshow-container .controls .play:HOVER {
  background-position: 0 -33px;
}
.slideshow-container .controls .pause {
  background-position: -99px 0;
}
.slideshow-container .controls .pause:HOVER {
  background-position: -99px -33px;
}
.slideshow-container .controls .prev {
  background-position: -33px 0;
}
.slideshow-container .controls .prev:HOVER {
  background-position: -33px -33px;
}
.slideshow-container .controls .next {
  background-position: -66px 0;
}
.slideshow-container .controls .next:HOVER {
  background-position: -66px -33px;
}
.preload {
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
