/*!
 * sprite.less
 * Put here the style for the sprite
 * 
 * Compiled on Wed, 23 Jan 2013 14:13:30 GMT
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
/*!
 * mixins.less
 * UTILITY MIXINS
 * 
 * Please note that this file should NOT contain
 * any css definition, only less mixins.
 * You can check if this is true by compiling
 * css/mixins.css which have to be empty!
 * 
 * 
 */
/*!
 * variables.less
 * Store here your global variables
 * 
 * Compiled on :compileTime:
 */
#slideshow.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1100;
}
