/*!
 * sprite.less
 * Put here the style for the sprite
 * 
 * Compiled on :compileTime:
 */

@import "variables";
@import "mixins";

#slideshow.fullscreen {
	.square(100%);
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: @zindexslideShow;
	position: absolute;
	top: 0;
	left: 0;
}

.container_16{
	z-index: @zindexMenu;
	position: relative;
}
