[submodule "libraries/twitteroauth"]
	path = libraries/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "classes"]
	path = classes
	url = https://github.com/setola/Wordpress-Theme-Utils-Classes.git
